html,body{margin:0;padding:0}

body{
    padding-top: 10px;
    font: 90% 'Raleway',sans-serif;
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    margin:0 10px 10px
}

a{
    padding:5px; 
    text-decoration:none; 
    color:#000000;
}

div#header{
    background-color:#2F86A6;
}

div#header h1{
    font-family: 'Playfair', serif;
    height:80px;
    line-height:80px;
    margin:0;
    padding-left:10px;
}

div#container{
    text-align:left;
    width:80vw;
    margin:0 auto;
    min-width: 700px;
    background-color: aqua;
}

div#content p{
    line-height:1.4;
}

div#navigation{
    background:#34BE82;
    float:left;
    width:29%;
    padding: 0.5%;
}

div#navigation ul{
    margin:15px 0; 
    padding:0; 
    list-style-type:none;
}

div#navigation li{
    margin: 5px;
    margin-bottom:5px;
    list-style: none;
}

div#extra{
    background-color:#E7FBBE;
    float:left;
    clear:left;
    width:29%;
    padding: 0.5%;
}

div#footer{
    background-color:#F2F013;
    clear:both;
    width:100%
}

div#footer p{
    margin:0;
    padding:5px 10px
}

div#content{
    background-color: #2FDD92;
    padding: .5%;
    float:right;
    width:69%
}

div#themes {
    padding: 0 10px 5px 10px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    bottom: 5px;
    right: 5px;
}